In [1]:
!pip install requests
!pip install tmdbsimple

Requirement already satisfied: requests in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.2.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests) (2023.11.17)

In [16]:
import tmdbsimple as tmdb
import os
import json
import requests
import numpy as np
import pandas as pd

In [17]:
#Load API creadentials
with open('/Users/HP/.secret/tmdb_api.json') as f:
    login = json.load(f)

# Display keys of loaded file
login.keys()

dict_keys(['api_key', 'api_read_access_token'])

In [18]:
# Set API_KEY
tmdb.API_KEY = login['api_key']

In [19]:
# Define function to extract info, add cretification to the info dict else return an error
def get_movie_with_rating(movie_id):
  try:
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
          info['certification'] = c['certification']
          break
    return info
  except Exception as e:
    return e

In [21]:
test_ids = ["tt0848228", "tt0115937","tt0848228","tt0332280"]

# Loop through test_ids
results = []
errors = []
for movie_id in test_ids:
    movie_info = get_movie_with_rating(movie_id)
    if type(movie_info) == requests.exceptions.HTTPError :
      errors.append([movie_id,movie_info])
    else:
      results.append(movie_info)

In [23]:
# Display results
df_results = pd.DataFrame(results)
df_results

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.712,29637,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.712,29637,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115600000,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.887,10887,PG-13

In [27]:
#display errors
df_errors = pd.DataFrame(data=errors,columns=['tconst','error'])
df_errors

      tconst                                              error
0  tt0115937  404 Client Error: Not Found for url: https://a...