In [1]:
!pip install requests
!pip install tmdbsimple

Requirement already satisfied: requests in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.2.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests) (2023.11.17)
Requirement already satisfied: tmdbsimple in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from tmdbsimple) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests->tmdbsimple) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests->tmdbsimple) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests->tmdbsimple) (2.2.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests->tmdbsimple) (2023.11.17)

In [17]:
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook
import os, time, json, requests, glob
import numpy as np
import pandas as pd

In [3]:
# create a folder for saving files (if it doesn't ecist)
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['basics.csv',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2001_210.csv.gz',
 'movies.csv',
 'ratings.csv',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json',
 'tmdb_api_results_2010.json']

In [4]:
def write_json(new_data, filename):
    """Appends a list of records (new_data) to a json file (filename).
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""

    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data)==list) and (type(file_data == list)):
            file_data.extend(new_data)
        else:
            file_data.append(new_data)
        # Set file's current position at offset.
        file.seek(0)
        # Convert back to json.
        json.dump(file_data, file)

In [5]:
#Load API creadentials
with open('/Users/HP/.secret/tmdb_api.json') as f:
    login = json.load(f)

# Display keys of loaded file
login.keys()

dict_keys(['api_key', 'api_read_access_token'])

In [6]:
# Set API_KEY
tmdb.API_KEY = login['api_key']

In [7]:
# Define function to extract info, and add cretification to the info dict else return an error
def get_movie_with_rating(movie_id):
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries
    movie_info = movie.info()
    releases = movie.releases()
    
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
            movie_info['certification'] = c['certification']
    return movie_info

In [8]:
df_title_basics = pd.read_csv("Data/basics.csv",sep=',',low_memory=False,on_bad_lines='skip',encoding='utf-8')
df_title_basics.info()
df_title_basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86979 entries, 0 to 86978
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86979 non-null  object
 1   titleType       86979 non-null  object
 2   primaryTitle    86978 non-null  object
 3   originalTitle   86978 non-null  object
 4   isAdult         86979 non-null  int64
 5   startYear       86979 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86979 non-null  int64
 8   genres          86979 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.0+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [9]:
YEARS_TO_GET = [2001,2002]
errors=[]

In [10]:
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    # Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # check if the file already exists
    file_exists = os.path.isfile(JSON_FILE)
    # if JSON_FILE does not exist: create it
    if file_exists == False:
        # Print a message indicating the file is being created
        print(f"Creating {JSON_FILE}) for API results for {YEAR}")
        # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE, 'w') as f:
            json.dump([{'imdb_id':0}],f)
    else:
        print(f"The file {JSON_FILE} already exists")
    # saving new year as current df
    df = df_title_basics.loc[df_title_basics['startYear']==YEAR].copy()
    # saving movie ids to a seperate variable
    movie_ids = df['tconst']
    # load existing data from json into dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    print(f"Number of Already Retrieved movie ids relative to year {YEAR} = {len(previous_df)}")
    print(f"Number of Remaining movie ids to GET relative to year {YEAR} = {len(movie_ids_to_get)}")
    # loop through movie_ids_to_get with a tqdm progress bar
    for movie_id in tqdm_notebook(movie_ids_to_get, f"Movies from {YEAR}"):
        # Get index and movie id from list
        try:
            temp = get_movie_with_rating(movie_id)
            # append/extend results to existing file using the pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
        except Exception as e:
            errors.append([movie_id, e, YEAR])
    print(f"- Total errors of {YEAR}: {len(errors)}")
    #Save the year's results as csv.gz file
    try:
        final_year_df = pd.read_json(JSON_FILE)
        final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}_{len(movie_ids_to_get)}.csv.gz", compression="gzip", index=False)
    except:
        pass

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

The file Data/tmdb_api_results_2001.json already exists
Number of Already Retrieved movie ids relative to year 2001 = 1381
Number of Remaining movie ids to GET relative to year 2001 = 210

Movies from 2001:   0%|          | 0/210 [00:00<?, ?it/s]

- Total errors of 2001: 210
The file Data/tmdb_api_results_2002.json already exists
Number of Already Retrieved movie ids relative to year 2002 = 1082
Number of Remaining movie ids to GET relative to year 2002 = 491

Movies from 2002:   0%|          | 0/491 [00:00<?, ?it/s]

- Total errors of 2002: 485

In [11]:
# Use glob to get all filepaths that match the pattern (*=wildcard)
tmdb_files = sorted(glob.glob("Data/final_tmdb_data*.csv.gz"))
tmdb_files

['Data\\final_tmdb_data_2001.csv.gz',
 'Data\\final_tmdb_data_2001_210.csv.gz',
 'Data\\final_tmdb_data_2002_491.csv.gz']

In [12]:
# Use read_csv in a list comprehension and combine with concat to load all files
df = pd.concat([pd.read_csv(f) for f in tmdb_files] )
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.30,1263.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,4.75,4.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.50,2.0,PG
4,tt0118589,0.0,/qSukSg6JBR3A4iEkRGIfHPC0W5H.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.40,133.0,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1293,tt6449044,0.0,/a9pkw8stijESGx1flSGPqcXLkHu.jpg,"{'id': 957260, 'name': 'The Conman Collection'...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,314105.0,cn,賭俠2002,...,0.0,97.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,The Conman 2002,0.0,4.30,3.0,NaN
1294,tt6694126,0.0,/sXjVpTZyDvwzPVZve3AmyCUBeHk.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,819174.0,fa,عروس خوش‌قدم,...,0.0,101.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,The Lucky Bride,0.0,8.00,1.0,NaN
1295,tt8302928,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,866533.0,el,Movie Toons: Treasure Island,...,0.0,0.0,[],Released,NaN,Movie Toons: Treasure Island,0.0,0.00,0.0,NaN
1296,tt8474326,0.0,NaN,NaN,0.0,[],NaN,292027.0,en,Skin Eating Jungle Vampires,...,0.0,0.0,[],Released,NaN,Skin Eating Jungle Vampires,0.0,0.00,0.0,NaN
1297,tt8825252,0.0,NaN,NaN,0.0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,989195.0,en,Circle of Fire: The Dark Lord Kylnor,...,0.0,45.0,[],Released,NaN,Circle of Fire: The Dark Lord Kylnor,0.0,0.00,0.0,NaN

In [14]:
df.to_csv("Data/tmdb_results_combined.csv.gz",compression="gzip",index=False)

In [ ]:
"""

# Adding lineterminator arg to get around error
df = pd.concat([pd.read_csv(f, lineterminator='\n') for f in files] )

In [15]:
df.columns

Index(['imdb_id', 'adult', 'backdrop_path', 'belongs_to_collection', 'budget',
       'genres', 'homepage', 'id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'certification'],
      dtype='object')